<article class="post">
  <h4 class="post-title"><%= @post.title %></h4>
  <div class="post-body">
    <%= @post.body %>
  </div>
  <p id="author">
    <b>By:</b>
    <%= @post.author.email %>
  </p>
  <p id="status">
    <b>Status: </b>
    <%= @post.published? ? "Published" : "Unpublished" %>
  </p>
</article>

<ul class="button-group round">
  <li><%= link_to 'Edit', edit_post_path(@post), class: 'button tiny secondary' %></li>
  <li><%= link_to 'Back', posts_path, class: 'button tiny secondary' %></li>
</ul>
